*{
padding:0;
margin:0;

}

h1{
font-family:verdana;
position:absolute;
left:300px;
top:10px;

}

body{
background-color:yellow;
height:500px;
width:400px;
}
.gamecontainer{
border:10px solid black;
height:1200px;
width:700px;
display:grid;
justify-content:center;
position:relative;
left:100px;
background-color:aqua;

}
.paddle1{
background-color:black;
width:700px;
height:50px;
position:absolute;
top:100px;
}

.white1{
background-color:white;
height:50px;
width:150px;
position:absolute;
left:200px;
animation: white1 3s infinite linear;
}

@keyframes white1{
0%{right:900px;}
25%{left:400px;}
75%{left:0;}
100%{right:400px;}
}

.paddle2{
background-color:black;
width:700px;
height:50px;
position:absolute;
top:200px;
}

.white2{
background-color:white;
height:50px;
width:150px;
position:absolute;
left:100px;
animation:white2 3s infinite linear;
}

@keyframes white2{
0%{left:50vw;}
25%{left:0vw;}
75%{right:800px;}
100%{left:50vw;}
}

.paddle3{
background-color:black;
width:700px;
height:50px;
position:absolute;
top:300px;
}

.white3{
background-color:white;
height:50px;
width:150px;
position:absolute;
left:300px;
animation:white3 3s infinite linear;
}

@keyframes white3{
0%{right:900px;}
25%{left:400px;}
75%{left:0;}
100%{right:400px;}
}

.paddle4{
background-color:black;
width:700px;
height:50px;
position:absolute;
top:400px;
}
.white4{
background-color:white;
height:50px;
width:150px;
position:absolute;
left:500px;
animation:white4 3s infinite linear;
}

@keyframes white4{
0%{left:50vw;}
25%{left:0vw;}
75%{right:800px;}
100%{left:50vw;}
}

.paddle5{
background-color:black;
width:700px;
height:50px;
position:absolute;
top:500px;
}

.white5{
background-color:white;
height:50px;
width:150px;
position:absolute;
left:200px;
animation: white5 3s infinite linear;
}

@keyframes white5{
0%{right:900px;}
25%{left:400px;}
75%{left:0;}
100%{right:400px;}
}

.paddle6{
background-color:black;
width:700px;
height:50px;
position:absolute;
top:600px;
}

.white6{
background-color:white;
height:50px;
width:150px;
position:absolute;
left:200px;
animation:white6 3s infinite linear;
}

@keyframes white6{
0%{left:50vw;}
25%{left:0vw;}
75%{right:800px;}
100%{left:50vw;}
}

.paddle7{
background-color:black;
width:700px;
height:50px;
position:absolute;
top:700px;
}

.white7{
background-color:white;
height:50px;
width:150px;
position:absolute;
left:400px;
animation:white7 3s infinite linear;
}

@keyframes white7{
0%{right:900px;}
25%{left:400px;}
75%{left:0;}
100%{right:400px;}
}

.paddle8{
background-color:black;
width:700px;
height:50px;
position:absolute;
top:800px;
}

.white8{
background-color:white;
height:50px;
width:150px;
position:absolute;
left:200px;
animation:white8 3s infinite linear;
}

@keyframes white8{
0%{left:50vw;}
25%{left:0vw;}
75%{right:800px;}
100%{left:50vw;}
}

.paddle9{
background-color:black;
width:700px;
height:50px;
position:absolute;
top:900px;
}

.white9{
background-color:white;
height:50px;
width:150px;
position:absolute;
left:100px;
animation:white9 3s infinite linear;
}

@keyframes white9{
0%{right:900px;}
25%{left:400px;}
75%{left:0;}
100%{right:400px;}
}
